body {
  background-color: aqua;
  margin: 0;
}

div {
  position: relative;
}

#watch {
  color: blueviolet;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: xxx-large;
}

.curcubeu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 723%);
  width: 300px;
  height: 65px;
  border-radius: 25px;
  background: linear-gradient(
    45deg,
    #f17c58,
    #e94584,
    #24aadb,
    #27dbb1,
    #ffdc18,
    #ff3706
  );
  background-size: 600% 100%;
  animation: gradient 16s linear infinite;
  animation-direction: alternate;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
